body {
  background-color: #edeef0; }

header {
  display: flex;
  height: 55px;
  width: 100%;
  background-color: #4a76a8;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  justify-content: space-around; }
  @media screen and (max-width: 700px) {
    header {
      direction: column;
      flex-direction: column;
      height: 75px; } }

.menu_header {
  cursor: pointer;
  font-size: 40px;
  color: white;
  animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0; }
  100% {
    filter: blur(0px);
    opacity: 1; } }
  .menu_header:active {
    color: #ff3440; }

.menu_links {
  display: flex; }
  @media screen and (max-width: 700px) {
    .menu_links {
      margin-bottom: 10px; } }

.menu_link_button {
  text-transform: uppercase;
  margin-right: 7px;
  padding: 4px;
  text-decoration: underline;
  color: white;
  font-weight: 100px;
  letter-spacing: 1px;
  font-size: 15px; }
  .menu_link_button:hover {
    color: #eba09d;
    transition: 0.2s ease-in-out; }
  @media screen and (max-width: 700px) {
    .menu_link_button {
      font-size: 16.5px; } }

.menu_links_link {
  animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

.menu_header::after {
  content: ".";
  font-size: 50px;
  animation: color-change-5x 8s linear infinite alternate both; }

@keyframes color-change-5x {
  0% {
    color: #19dcea; }
  25% {
    color: #b22cff; }
  50% {
    color: #ea2222; }
  75% {
    color: #f5be10; }
  100% {
    color: #3bd80d; }
  75% {
    color: #19dcea; }
  50% {
    color: #b22cff; }
  25% {
    color: #ea2222; }
  0% {
    color: #f5be10; } }
