.section_info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  background-image: url(../img/art-botanical-cactus-532566.min.jpg); }

.section_info_1, .section_info_2 {
  padding: 50px;
  margin-bottom: 55px; }
  @media screen and (max-width: 780px) {
    .section_info_1, .section_info_2 {
      padding: 10px; } }

.my_contact, .span_icons {
  opacity: 0.8;
  padding-left: 95px;
  display: block; }
  @media screen and (max-width: 780px) {
    .my_contact, .span_icons {
      padding-left: 70px; } }

.info_contact-me, .span_contact-social {
  text-transform: uppercase;
  float: left; }

.fa-telegram-plane, .fa-instagram, .fa-linkedin-in, .fa-github, .fa-spotify {
  margin-left: 40px; }
  @media screen and (max-width: 780px) {
    .fa-telegram-plane, .fa-instagram, .fa-linkedin-in, .fa-github, .fa-spotify {
      margin-left: 26px; } }
  .fa-telegram-plane:hover, .fa-instagram:hover, .fa-linkedin-in:hover, .fa-github:hover, .fa-spotify:hover {
    color: #746aff;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out; }

.section_info-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.fab {
  text-decoration: none;
  color: #000000;
  opacity: 0.8; }

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 150px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #93a5cd;
  color: #93a5cd;
  letter-spacing: 1px;
  text-shadow: 0;
  cursor: pointer; }
  button:hover {
    color: white;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background: #93A5CD;
    letter-spacing: 3px; }

@media screen and (max-width: 780px) {
  .section_info_1 {
    margin-left: 5px; } }

.fa-vk:hover {
  color: #746aff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out; }

.section_info {
  height: 925px;
  max-height: 1080px; }

@media screen and (max-width: 780px) {
  .section_info_2 {
    margin-bottom: -200px; } }
