.section_info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e3e3e3;
  flex-wrap: wrap-reverse; }

.section_header_link {
  text-decoration: underline #403bff; }

.section_info_1, .section_info_2 {
  padding: 20px; }

.my_contact, .span_icons {
  opacity: 0.8;
  padding-left: 95px;
  display: block; }

.info_contact-me, .span_contact-social {
  text-transform: uppercase;
  float: left; }

.fa-telegram-plane, .fa-instagram, .fa-linkedin-in, .fa-github {
  margin-left: 40px; }
  @media screen and (max-width: 700px) {
    .fa-telegram-plane, .fa-instagram, .fa-linkedin-in, .fa-github {
      margin-left: 25px; } }

.section_info-cv {
  display: flex;
  justify-content: center; }

.fab {
  text-decoration: none; }
  .fab:hover {
    color: #6c89cd;
    transition: 0.3s ease-in-out; }

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 150px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #93a5cd;
  color: #93a5cd;
  letter-spacing: 1px;
  text-shadow: 0;
  cursor: pointer; }
  button:hover {
    color: white;
    transition: 0.3s ease-in-out;
    background: #93A5CD;
    letter-spacing: 3px; }

@media screen and (max-width: 700px) {
  .section_info_1 {
    margin-bottom: 10px; } }
