.section_2 {
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: center; }

.skills_box {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.skills {
  padding: 10px;
  display: flex;
  justify-content: center; }

.fa-html5, .fa-css3-alt, .fa-sass, .fa-js, .fa-gulp, .fa-npm, .fa-git, .fa-adobe {
  font-size: 50px;
  display: flex;
  cursor: pointer;
  padding: 15px;
  animation: roll-in-blurred-left 0.65s cubic-bezier(0.23, 1, 0.32, 1) both; }

@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-1000px) rotate(-720deg);
    filter: blur(50px);
    opacity: 0; }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1; } }
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.h2_skills {
  display: flex;
  justify-content: center; }

.info_skills-text {
  display: flex;
  justify-content: center;
  text-align: center; }

.fa-html5 {
  color: orangered; }

.fa-css3-alt {
  color: mediumslateblue; }

.fa-sass {
  color: hotpink; }

.fa-js {
  color: yellowgreen; }

.fa-gulp, .fa-npm, .fa-adobe {
  color: red; }

hr {
  width: 50%; }
